body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif
}

a {
    color: rgb(41, 19, 235);
}

.container {
    margin: 140px auto;
    max-width: 600px; 
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight:400;
    font-size: 45px;
    line-height: 1;
    color: white;
    background: linear-gradient(#fa93c7, rgb(105, 202, 240));
    border-radius: 5px;
    box-shadow: 3px 4px 10px 4px rgb(159, 161, 162);
}


h2 {
    font-size: 23px;
    margin-bottom: 20px;
    margin-right: 10px;
}

form {
    padding: 35px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px 10px 4px rgb(159, 161, 162);
}

.instructions {
    padding: 10px;
    border: 3px solid black;
    width: 80%;
    border-radius: 5px;
}

.babynames {
    font-size: 25px;
    background-color: white;
    padding: 40px;
    line-height: 30px;
    border-left: 3px solid black;
    border-radius: 5px;
    box-shadow: 3px 4px 10px 4px rgb(159, 161, 162);
}

.btn-boy {
    background-color: rgb(105, 202, 240); 
    border-color:rgb(10, 144, 196);
    color:whitesmoke;
    margin-right: 12px;
    padding:30px;
    border-radius: 5px;
    
}

.btn-girl {
    background-color: #fa93c7; 
    border-color: rgb(242, 85, 211);
    color: whitesmoke;
    padding:30px;
    border-radius: 5px;

}

footer {
    margin-top: 40px;
    text-align: center;
}